/*------------------------ Variables Globales ------------------------------*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    --color-de--fuente: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-de-fondo);/* Usar la variable global para el color de fondo */
    font-family: "Krub", sans-serif;
    line-height: 1.6;
    max-width: 1440px;/* Define el ancho máximo del contenedor */
    width: 100%;/* Permitir que se adapte al ancho de la ventana */
    padding: 1.25rem;/* Espacio interno */
    margin: 0 auto;/* Centramos el contenido */
    box-sizing: border-box;/* Asegurarse de que el padding se incluya en el ancho total */
}

html {
    scroll-behavior: smooth;/* Desplazamiento suave */
}

h2 {
    font-size: 1.5rem;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

.container {
    max-width: 1440px;/* Ancho máximo de toda la página */
    width: 100%;
    margin: 0 auto;/* Centrado horizontal */
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*.flecha-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flecha-arriba:hover {
    background-color: #0056b3;
}*/


/*------------------------ Sección Menu ------------------------------*/
.cabecera_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;/* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
}

.cabecera_logo_titulo{
    display: flex;
    align-items: center;
    white-space: nowrap;/* Evita que el texto se divida en varias líneas */
    gap: 0.5rem;
}

.cabecera_titulo {
    font-size: 1rem;
}

.cabecera_container__cabecera_navegador {
    /*display: flex;
    justify-content: flex-end;/* Asegura que los elementos dentro del menú se distribuyan hacia la derecha */
    /*gap: 2rem;
    margin-left: auto;/* Empuja el menú completamente hacia el lado derecho */
    /*white-space: nowrap;/* Evita saltos de línea */
    /*font-size: 1rem;*/
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-left: auto;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 71rem;
    padding: 1.25rem;
}

.nav_item {
    display: block;
    /* Mostrar elementos de navegación por defecto */
}

.nav_item__contacto {
    display: block;
}

/*------------------------ Sección Presentación ------------------------------*/
.presentacion_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;/* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
}

.presentaciom__container__foto {
    width: 25%;
    border-radius: 20%;
    object-fit: cover;
}

.presentacion_container__textos h2 {
    font-size: 3.25rem;
    line-height: 1;
}

.presentacion_container__textos p {
    margin: 1.2rem 0 0 0;
    font-size: 1.375rem;
}

.presentacion_container__redes {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.redes {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/*.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 16:45:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
/*@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}*/


/*------------------------ Sección Sobre mi ------------------------------*/
.sobremi_container {
    /*background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
    color: var(--color-de--fuente);*/
    background-color: #D1E9F6;
    max-width: 1440px;/* Ancho consistente con el título principal */
    width: 100%;
    margin: 0 auto;/* Centrando el contenedor */
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
    display: flex;
    flex-direction: column;
    align-items: flex-start;/* Alinear todo el contenido al inicio para que esté alineado con el título principal */
}

.sobremi_container__textos {
    margin: 0;/* Asegúrate de que no haya margen adicional que desalinée el contenido */
    padding: 1.25rem 0;/* Espaciado interno sin afectar el margen externo */
    width: 100%;/* Ocupar todo el ancho del contenedor */
}

.sobremi_container__textos__p {
    width: 100%;
    /* Asegúrate de que ocupe todo el ancho disponible */
}

.textos_p {
    margin-top: 1.4rem;
    /* Espacio superior para separar párrafos */
}

.sobremi_container__textos__firma {
    margin-top: 1.5rem;/* Espacio superior para separar la firma */
}


/*------------------------ Sección Skills ------------------------------*/
.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;/* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
}

.skills_container__tecnologias {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 3rem;
}

/* Contenedor individual de cada tecnología */
.skills_item {
    display: flex;
    flex-direction: column;/* Organiza el logo y el texto verticalmente */
    justify-content: flex-end;
    background-color: var(--color-de-fondo-menu);
    width: 8.125rem;
    height: 8rem;
    padding: 10px;/* Añadir algo de espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Añadir sombra para darle estilo */
}

/* Logo de la tecnología */
.skills_logo {
    width: 25%;/* Ajusta el tamaño del logo según sea necesario */
    height: auto;
}

/* Nombre de la tecnología */
.skills_name {
    margin-top: 10px;/* Espacio entre el logo y el nombre */
    font-size: 1rem;/* Ajusta el tamaño de la fuente según sea necesario */
    color: #000;/* Color del texto */
}


/*------------------------ Sección Hobbies ------------------------------*/
.hobbies_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
        /* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
}

.hobbies_container__item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 3rem;
}

.hobbies_item {
    display: flex;
    flex-direction: column;/* Organiza el logo y el texto verticalmente */
    justify-content: flex-end;
    /*align-items: center;*/
    background-color: var(--color-de-fondo-menu);
    width: 8.125rem;
    height: 8rem;
    padding: 10px;/* Añadir algo de espacio interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Añadir sombra para darle estilo */
}

.hobbies_logo {
    width: 25%;
    height: auto;
}

.hobbies_name {
    margin-top: 10px;/* Espacio entre el logo y el nombre */
    font-size: 1rem;/* Ajusta el tamaño de la fuente según sea necesario */
    color: #000;/* Color del texto */
}

/*------------------------ Sección Formación Academica ------------------------------*/
.formacion_container {
    background-color: #D1E9F6;
    max-width: 1440px;
        /* Ancho consistente */
    width: 100%;
    margin: 0 auto;/* Centrando el contenedor */
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
    display: flex;
    flex-direction: column;
    align-items: center;/* Alinear todo el contenido al centro para que esté alineado con el título principal */
}

.formacion_container__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    gap: 3rem;
}

.card_container {
    display: flex;
    flex-direction: column;
}

.card_formacion__img {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card_formacion__text {
    margin-top: 5px;
        /* Espacio entre el logo y el nombre */
    font-size: 1rem;
    color: #000;
    align-items: center;
}


/*------------------------ Sección Experiencia Profesional / Proyectos ------------------------------*/
.proyectos_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;/* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 20px;/* Espaciado interno uniforme */
    
}

.proyectos_container__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
    gap: 3.5rem;
}

/*.proyectos_item {

}*/


/*------------------------ Sección Contacto ------------------------------*/
.contacto_container {
    background-color: #D1E9F6;
    /* Color de fondo suave para toda la sección */
    max-width: 1440px;
        /* Ancho consistente */
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    /* Espaciado alrededor del contenedor */
    box-sizing: border-box;
}

.contacto_container__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea al inicio en caso de tener contenido de diferentes alturas */
    gap: 2rem;/* Espacio entre la imagen y el formulario */
    width: 100%;
}

/* Imagen del contacto */
.contacto_item_imagen {
    flex: 1;/* La imagen ocupa una menor proporción */
    max-width: 400px;/* Define un ancho máximo para la imagen */
}

.contacto_item_imagen img {
    width: 100%; /* Imagen escalada al contenedor */
    height: auto; /* Mantener la proporción de la imagen */
}

/* Formulario del contacto */
.contacto_item_formulario {
    flex: 2;/* El formulario ocupa más espacio */
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacio entre los elementos del formulario */
}

.contacto_item_formulario h2 {
    margin-bottom: 0.5rem;
}

.contacto_item_formulario p {
    margin-bottom: 1.5rem;
}

/* Campos del formulario */
.contacto_form_item {
    display: flex;
    flex-direction: column;/* Coloca el label sobre el input */
    width: 100%;
}

label {
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333; /* Color suave para el texto de las etiquetas */
}

input,
textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;/* Ocupa todo el ancho disponible */
    box-sizing: border-box;
}

.enviar_btn {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; /* Botón alineado al inicio del formulario */
    transition: background-color 0.3s;
}

.enviar_btn:hover {
    background-color: #0056b3;
    /* Color más oscuro para indicar hover */
}


/*------------------------ Footer ------------------------------*/
.footer_container {
    display: flex;
    flex-direction: column;/* Asegura que los hijos estén en columnas, es decir, uno debajo del otro */
    align-items: center;/* Centra el contenido horizontalmente */
    margin-top: 1rem;
    gap: 0.5rem;/* Espacio entre el texto y los enlaces */
}

.footer_item {
    display: flex;
    flex-direction: column;/* Coloca los enlaces en columna, uno debajo del otro */
    align-items: center;
    gap: 0.2rem;/* Espacio entre los enlaces */
}

.footer_item2 {
    display: none;
}


/* ------------------- Media Queries para Tabletas (max-width: 768px) ------------------- */
@media (max-width: 768px) {
    /*.container {
        max-width: 768px;
        /* Ancho máximo de toda la página 
        width: 100%;
        margin: 0 auto;
        /* Centrado horizontal 
        padding: 20px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }*/

    /*--- Navegación ---*/
    .cabecera_container {
        display: flex;
        align-items: center;
    }

    .nav_item {
        display: none;
    }

    /*--- Presentación ---*/
    .presentacion_container__textos h2 {
        font-size: 1.375rem;
    }

    .presentacion_container__textos p {
        margin: 1.2rem 0 0 0;
        font-size: 1rem;
    }

    /*--- Skills / Habilidades ---*/
    .skills_container__tecnologias {
        display: flex;
        justify-content: center;
        /*flex-wrap: wrap;*/
        margin-top: 1.5rem;
        gap: 3rem;
    }


    /*--- Hobbies ---*/
    .hobbies_container__item {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    /*--- Formación Academica ---*/
    .formacion_container__item {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        /*flex-direction: column;*/
        align-items: center;
    }

    .card_container {
        display: flex;
        /*justify-content: space-around;*/
        flex-direction: column;
        align-items: center;
    }

    .card_formacion__img {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    /*--- Experiencia Profesional / Proyectos ---*/
    .item_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    /*--- Contacto ---*/
    .contacto_container__item {
        flex-direction: column;
        gap: 0;
    }

    .contacto_item_imagen {
        display: none;
    }

    /*--- Footer ---*/

    .footer_container__p {
        display: none;
    }

    .footer_item {
        display: none;
        flex-direction: row;
        gap: 0.2rem;
    }

    .footer_item2 {
        display: flex;
        flex-direction: column;
        /* Coloca los enlaces en columna, uno debajo del otro */
        align-items: center;
        gap: 0.2rem;
        /* Espacio entre los enlaces */
    }
}

/* ------------------- Media Queries para mobile (min-width: 360px) ------------------- */
@media (max-width: 360px) {


}